.container {
    width: 580px;
    background-color: var(--reddish);
    border-radius: 5px;
    padding: 0 0 15px 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        width: 460px;       
    }
  }  

  @media screen and (max-width: 576px) {
    .container {
        width: 350px;       
    }
  }
  
  @media screen and (max-width: 400px) {
    .container {
        width: 300px;       
    }
  }
  