.container {
    min-height: 150px;
    width: 90vw;
    margin: auto;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
}

.displayBox {   
    padding-bottom: 1rem;  
    text-align: center;
}

.displayBox h1 {
    font-size: 3.5rem;
}

.displayBox p {
    margin-top: -2rem;
}

.displayBox sup {
   color: var(--reddish)
}

@media screen and (max-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr;
        min-height: 250px;
    }
}

@media screen and (max-width: 768px) {
   .displayBox h1 {
    font-size: 3rem;
   }
}


@media screen and (max-width: 576px) {
    .displayBox h1 {
        font-size: 2.8rem;
       }
}


@media screen and (max-width: 400px) {
    .container {
        grid-template-columns: 1fr;
        min-height: 600px;
    }
}
